$main-bg-color: #222831;
$main-text-color: #EEEEEE;
$main-btn-bg-color: #393E46;
$main-btn-text-color: #EEEEEE;
$main-btn-border-color: #EEEEEE;
$main-btn-hover-bg-color: #FF7878;
$main-btn-hover-text-color: #FFFFFF;
$main-btn-hover-border-color: #FF7878;
$prop-btn-text-color: #EEEEEE;
$prop-btn-hover-text-color: #5C5C5C;
$theme-bg-color: #EEEEEE;
$theme-text-color: #222831;
$selectlist-li-text-color: #EEEEEE;
$selectlist-li-border-color: #F8F8F8;
$selectlist-li-selected-text-color: #3B3B3B;
$selectlist-li-selected-shadow: #CCCCCC;
$selectlist-li-0b-bg-color: #464646;
$selectlist-li-0b-selected-bg-color: #C0C0C0;
$selectlist-li-0b-hover-bg-color: #C0C0C0;
$selectlist-li-0b-hover-text-color: #3B3B3B;
$selectlist-li-1b-bg-color: #6495ED;
$selectlist-li-1b-selected-bg-color: #87CEFA;
$selectlist-li-1b-hover-bg-color: #87CEFA;
$selectlist-li-1b-hover-text-color: #3B3B3B;
$selectlist-li-2b-bg-color: #E2A7FF;
$selectlist-li-2b-selected-bg-color: #E7BEFF;
$selectlist-li-2b-hover-bg-color: #E7BEFF;
$selectlist-li-2b-hover-text-color: #3B3B3B;
$selectlist-li-3b-bg-color: #FFA07A;
$selectlist-li-3b-selected-bg-color: #F1BFAC;
$selectlist-li-3b-hover-bg-color: #F7A989;
$selectlist-li-3b-hover-text-color: #3B3B3B;
$input-border-color: #EEEEEE;
$input-bg-color: #393E46;
$input-text-color: #EEEEEE;
$life-property-label-bg-color: transparent;
$life-property-label-text-color: #FFFFFF;
$life-property-value-bg-color: #EEEEEE;
$life-property-value-text-color: #666666;
$life-trajectory-bg-color: #393E46;
$life-trajectory-border-color: #9B9B9B;
$life-trajectory-item-bg-color: #4A5361;
$life-trajectory-item-shadow-color: #EEEEEE;
$life-trajectory-item-text-color: #EEEEEE;
$judge-item-border-color: #EEEEEE;
$judge-item-0-bg-color: #4A5361;
$judge-item-0-text-color: #EEEEEE;
$judge-item-1-bg-color: #87CEFA;
$judge-item-1-text-color: #4A5361;
$judge-item-2-bg-color: #E7BEFF;
$judge-item-2-text-color: #4a5361;
$judge-item-3-bg-color: #F7A989;
$judge-item-3-text-color: #4A5361;