$main-bg-color: #FFFFFF;
$main-text-color: #000000;
$main-btn-bg-color: #FFFFFF;
$main-btn-text-color: #000000;
$main-btn-border-color: #CCCCCC;
$main-btn-hover-bg-color: #FF7878;
$main-btn-hover-text-color: #FFFFFF;
$main-btn-hover-border-color: #FF7878;
$prop-btn-text-color: #000;
$prop-btn-hover-text-color: #5C5C5C;
$theme-bg-color: #222831;
$theme-text-color: #EEEEEE;
$selectlist-li-text-color: #666666;
$selectlist-li-border-color: #C5C5C5;
$selectlist-li-selected-text-color: #FFFFFF;
$selectlist-li-selected-shadow: #BBBBBB;
$selectlist-li-0b-bg-color: #EDEDED;
$selectlist-li-0b-selected-bg-color: #444444;
$selectlist-li-0b-hover-bg-color: #868686;
$selectlist-li-0b-hover-text-color: #3B3B3B;
$selectlist-li-1b-bg-color: #7EA5EC;
$selectlist-li-1b-selected-bg-color: #407dec;
$selectlist-li-1b-hover-bg-color: #5D90FF;
$selectlist-li-1b-hover-text-color: #3B3B3B;
$selectlist-li-2b-bg-color: #E2A7FF;
$selectlist-li-2b-selected-bg-color: #B362E7;
$selectlist-li-2b-hover-bg-color: #BC72EC;
$selectlist-li-2b-hover-text-color: #3B3B3B;
$selectlist-li-3b-bg-color: #FFA07A;
$selectlist-li-3b-selected-bg-color: #FF7F4D;
$selectlist-li-3b-hover-bg-color: #E09074;
$selectlist-li-3b-hover-text-color: #3B3B3B;
$input-border-color: #000000;
$input-bg-color: #FFFFFF;
$input-text-color: #000000;
$life-property-label-bg-color: #8d8d8d;
$life-property-label-text-color: #FFFFFF;
$life-property-value-bg-color: #FFFFFF;
$life-property-value-text-color: #000000;
$life-trajectory-bg-color: #FFFFFF;
$life-trajectory-border-color: #9B9B9B;
$life-trajectory-item-bg-color: #FFFFFF;
$life-trajectory-item-shadow-color: #B1B1B1;
$life-trajectory-item-text-color: #1A1A1A;
$judge-item-border-color: #EEEEEE;
$judge-item-0-bg-color: #4A5361;
$judge-item-0-text-color: #EEEEEE;
$judge-item-1-bg-color: #87CEFA;
$judge-item-1-text-color: #4A5361;
$judge-item-2-bg-color: #E7BEFF;
$judge-item-2-text-color: #4A5361;
$judge-item-3-bg-color: #F7A989;
$judge-item-3-text-color: #4A5361;