:root {
  /* liferestart css var */
  --lr-background-color: #222831;
}

html {
    background-color: #222831;
}

#main {
    align-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#title {
    position: fixed;
    font-size: 3rem;
    font-weight: 700;
    top: 35%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #EEEEEE;
}

.mainbtn {
    position: fixed;
    top: 65%;
    left: 50%;
    padding: 0.5rem 1.5rem;
    border: 1px #EEEEEE solid;
    border-radius: 0.2rem;
    background-color:#393E46;
    font-size: 1.6rem;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index:2;
    color: #EEEEEE;
}

.mainbtn:hover {
	background: rgb(255, 120, 120);
	color: #fff;
	transition: all .4s ease 0s;
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#rank {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.1rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color:lightsteelblue;
    font-size: 1.4rem;
    color: #EEEEEE;
    cursor: pointer;
    z-index:2;
}

#themeToggleBtn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.1rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color:#EEEEEE;
    font-size: 1.4rem;
    color: #222831;
    cursor: pointer;
    z-index:2;
}

.head {
    position: fixed;
    font-size: 1.4rem;
    top: 1.1rem;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    text-align: center;
    color: #EEEEEE;
}

.judge,
.lifeTrajectory,
.propinitial,
.selectlist {
    position: fixed;
    list-style-type: none;
    left: 50%;
    top: 5rem;
    bottom: 8.5rem;
    width: 30rem;
    max-width: calc(100% - 2rem);
    margin: auto;
    padding: 0;
    overflow: auto;
    transform: translateX(-50%);
}

.selectlist > li {
    position: relative;
    border: 1px #EEEEEE solid;
    display: inline-block;
    width: 95%;
    margin: 0.1rem auto;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #EEEEEE;
    user-select: none;
}

.grade1b,
.grade2b,
.grade3b {
  padding-left: 1.5rem;
  box-sizing: border-box;
}

.grade0b {
	background-color: rgb(70, 70, 70);
	border: #f8f8f8 2px solid !important;
}
.grade1b {
	background-color: rgb(116, 191, 255);
	border: #f8f8f8 2px solid !important;
}
.grade2b {
	background-color: rgb(226, 167, 255);
	border: #f8f8f8 2px solid !important;
}
.grade3b {
	background-color: #ffa07a;
	border: #f8f8f8 2px solid !important;
}

.grade0b:hover {
	background-color: rgb(202, 202, 202);
    color: #3b3b3b;
	transition: all .4s ease 0s;
}
.grade1b:hover {
	background-color: rgb(159, 207, 248);
    color: #3b3b3b;
	transition: all .4s ease 0s;
}
.grade2b:hover {
	background-color: rgb(240, 212, 255);
    color: #3b3b3b;
	transition: all .4s ease 0s;
}
.grade3b:hover {
	background-color: #f7a989;
    color: #3b3b3b;
	transition: all .4s ease 0s;
}

.grade0b.selected {
    background-color: rgb(202, 202, 202) !important;
    color: #3b3b3b;
}

.grade1b.selected {
    background-color: rgb(198, 229, 255) !important;
    color: #3b3b3b;
}

.grade2b.selected {
	background-color: rgb(240, 212, 255) !important;
    color: #3b3b3b;
}

.grade3b.selected {
    background-color: #f1bfac !important;
    color: #3b3b3b;
}

.propinitial {
    top: 5rem;
    bottom: 14rem;
}

.propbtn:hover{
	color: #5c5c5c;
	transition: all .2s ease 0s;
}

.propinitial > li {
    position: relative;
    display: inline-block;
    width: 95%;
    margin: 0.1rem auto;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: #EEEEEE;
}

.propinitial > li > input {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0 0.5rem;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    border: 0.1rem #EEEEEE solid;
    background-color: #393E46;
    color: #EEEEEE;
}

.propbtn {
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    color: #EEEEEE;
}

.lifeTrajectory {
	border: 1px #9b9b9b solid;
    background-color: #393E46;
	border-radius: 10px;
}

.judge > li,
.lifeTrajectory > li {
    position: relative;
    width: calc(100% - 7rem);
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 6rem;
    font-size: 1.4rem;
    background-color: #4a5361;
    box-shadow: #EEEEEE 0 0 0.4rem;
    color: #EEEEEE;
}

.judge > li > span,
.lifeTrajectory > li > span {
    position: absolute;
    left: 0;
    width: 6rem;
    text-align: right;
}

.judge > li {
    box-shadow: #EEEEEE 0 0 0.4rem;
    width: calc(100% - 9rem);
    margin: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 7rem;
}

.judge > li > span {
    background-color: #393E46;
    height: calc(100% - 1rem);
    padding: 0.5rem 0;
    top: 0;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
:root {
  font-family: "Montserrat";
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: inherit;
}

.banners-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.banner {
  color: white;
  font-weight: 700;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner .banner-message {
  flex: 1;
  padding: 0 2rem;
  word-break: break-word;
  overflow: auto;
}
.banner .banner-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.banner .iconfont {
  font-size: 2rem;
}

.banner .banner-close:hover {
  background: rgba(0, 0, 0, 0.12);
}

.banner.success {
  background: lightgreen;
}
.banner.success::after {
  background: lightgreen;
}
.banner.error {
  background: #ed1c24;
}
.banner.error::after {
  background: #ed1c24;
}
.banner.info {
  background: skyblue;
}
.banner.info::after {
  background: skyblue;
}

.banner::after {
  content: "";
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 100%;
  left: 0;
}

.banner:not(.visible) {
  display: none;
  transform: translateY(-100%);
}

.banner.visible {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.12);
  animation-name: banner-in;
  animation-direction: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes banner-in {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
.show-banner {
  appearance: none;
  background: #ededed;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0.25rem;
}

/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */
 .eva-animation {
    animation-duration: 1s;
    animation-fill-mode: both; }

  .eva-infinite {
    animation-iteration-count: infinite; }

  .eva-icon-shake {
    animation-name: eva-shake; }

  .eva-icon-zoom {
    animation-name: eva-zoomIn; }

  .eva-icon-pulse {
    animation-name: eva-pulse; }

  .eva-icon-flip {
    animation-name: eva-flipInY; }

  .eva-hover {
    display: inline-block; }

  .eva-hover:hover .eva-icon-hover-shake, .eva-parent-hover:hover .eva-icon-hover-shake {
    animation-name: eva-shake; }

  .eva-hover:hover .eva-icon-hover-zoom, .eva-parent-hover:hover .eva-icon-hover-zoom {
    animation-name: eva-zoomIn; }

  .eva-hover:hover .eva-icon-hover-pulse, .eva-parent-hover:hover .eva-icon-hover-pulse {
    animation-name: eva-pulse; }

  .eva-hover:hover .eva-icon-hover-flip, .eva-parent-hover:hover .eva-icon-hover-flip {
    animation-name: eva-flipInY; }

  @keyframes eva-flipInY {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0; }
    40% {
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      animation-timing-function: ease-in; }
    60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1; }
    80% {
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
    to {
      transform: perspective(400px); } }

  @keyframes eva-shake {
    from,
    to {
      transform: translate3d(0, 0, 0); }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-3px, 0, 0); }
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(3px, 0, 0); } }

  @keyframes eva-pulse {
    from {
      transform: scale3d(1, 1, 1); }
    50% {
      transform: scale3d(1.2, 1.2, 1.2); }
    to {
      transform: scale3d(1, 1, 1); } }

  @keyframes eva-zoomIn {
    from {
      opacity: 1;
      transform: scale3d(0.5, 0.5, 0.5); }
    50% {
      opacity: 1; } }

::-webkit-scrollbar {
    width: 0 !important
}
