<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>window.json = async fileName=>(await axios(`../data/${fileName}.json`)).data;</script>
    <title>Document</title>
</head>
<body style="margin: 0; height: 100%">
  <div class="banners-container">
    <div class="banners">
      <div class="banner error">
        <div class="banner-icon"><span class="iconfont">&#xe6a1;</span></div>
        <pre class="banner-message">Oops! Something went wrong!</pre>
        <div class="banner-close" onclick="hideBanners()"><span class="iconfont">&#xe6a8;</span></div>
      </div>
      <div class="banner success">
        <div class="banner-icon"><span class="iconfont">&#xe6a2;</span></div>
        <pre class="banner-message">Everything was fine!</pre>
        <div class="banner-close" onclick="hideBanners()"><span class="iconfont">&#xe6a8;</span></div>
      </div>
      <div class="banner info">
        <div class="banner-icon"><span class="iconfont">&#xe6a3;</span></div>
        <pre class="banner-message">Here is some useful information</pre>
        <div class="banner-close" onclick="hideBanners()"><span class="iconfont">&#xe6a8;</span></div>
      </div>
    </div>
  </div>
</body>
<script>
    // Pssst, I've created a github package - https://github.com/brookesb91/dismissible
    const hideBanners = (e) => {
        document
            .querySelectorAll(".banner.visible")
            .forEach((b) => b.classList.remove("visible"));
    };
</script>
<script type="module">
    import App from '../src/app.js';
    const app = new App();
    app.initial();
</script>
</html>