<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>window.json = async fileName=>(await axios(`../data/${fileName}.json`)).data;</script>
    <title>Document</title>
</head>
<body style="margin: 0; height: 100%">
    <div id="main">
        <div id="cnt" class="head">已重开1次</div>
        <button id="rank">排行榜</button>
        <div id="title">
            人生重开模拟器<br>
            <div style="font-size:1.5rem; font-weight:normal;">这垃圾人生一秒也不想呆了</div>
        </div>
        <button id="restart" class="mainbtn"><span class="iconfont">&#xe6a7;</span>立即重开</button>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9857163863537600" crossorigin="anonymous"></script>
        <!-- liferestart -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9857163863537600" data-ad-slot="3560523484" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</body>
</html>