<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>window.json = async fileName=>(await axios(`../data/${fileName}.json`)).data;</script>
    <title>Document</title>
</head>
<body style="margin: 0; height: 100%">
    <div id="main">
        <div class="head">人生总结</div>
        <ul id="judge" class="judge" style="bottom: calc(35% + 2.5rem)">
            <li class="grade2"><span>颜值：</span>9级 美若天仙</li>
            <li><span>智力：</span>4级 智力一般</li>
            <li><span>体质：</span>1级 极度虚弱</li>
            <li><span>家境：</span>6级 小康之家</li>
            <li><span>享年：</span>3岁 早夭</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
            <li><span>快乐：</span>3级 不太幸福的人生</li>
        </ul>
        <div class="head" style="top:auto; bottom:35%">天赋，你可以选一个，下辈子还能抽到</div>
        <ul id="talents" class="selectlist" style="top:calc(65% + 0.5rem); bottom:8rem">
            <li class="grade2b">黑幕（面试一定成功）</li>
        </ul>
        <button id="again" class="mainbtn" style="top:auto; bottom:0.1em"><span class="iconfont">&#xe6a7;</span>再次重开</button>
    </div>
</body>
</html>